﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8"/>
    <!-- injector:css -->

  <link href="../styles/vendor/bootstrap/dist/css/bootstrap.css" rel="stylesheet"/> 
  <!-- endinjector -->
</head>
<body ng-app="pineapples">
<div ng-controller="test as vm">
    <table>
        <tbody>
            <tr ng-repeat-start="competency in vm.paNest">
                <td>{{competency.key}}</td>
            </tr>
            <tr ng-repeat-end>
                <td>
                    <table>
                        <tr ng-repeat-start="element in competency.values">
                            <td>{{element.key}}</td>
                        </tr>
                        <tr ng-repeat-end>
                            <td>
                                <table>
                                    <tr ng-repeat="indicator in element.values">
                                        <td>{{indicator.indFullID}}</td>
                                      <td>
                                        <div class=" multichoice">
                                          <label class="btn  btn-primary" ng-style="{opacity: (indicator.paplCode === '1'?1:.3)}" ng-model="indicator.paplCode" uib-btn-radio="'1'" uncheckable>1</label>
                                          <label class="btn  btn-primary" ng-style="{opacity: (indicator.paplCode === '2'?1:.3)}" ng-model="indicator.paplCode" uib-btn-radio="'2'" uncheckable>2</label>
                                          <label class="btn  btn-primary" ng-style="{opacity: (indicator.paplCode === '3'?1:.3)}" ng-model="indicator.paplCode" uib-btn-radio="'3'" uncheckable>3</label>
                                          <label class="btn  btn-primary" ng-style="{opacity: (indicator.paplCode === '4'?1:.3)}" ng-model="indicator.paplCode" uib-btn-radio="'4'" uncheckable>4</label>
                                          <label class="btn  btn-primary" ng-style="{opacity: (indicator.paplCode === 'X'?1:.3)}" ng-model="indicator.paplCode" uib-btn-radio="'X'" uncheckable>X</label>
                                        </div></td>
                                      <td>
                                        <div sw-button-set btn-names="['1','2','3','4','x']"
                                             btn-values="['1','2','3','4','X']"
                                             ng-model="indicator.paplCode"
                                             btn-selected-class="btn-success" btn-base-class="btn-primary"
                                             btn-width="50px"
                                             class="multichoice"></div>
                                      </td>
                                      <td><svg width="100" height="10"><g transform="scale(10,10)"><rect x="0" y="0" height="1" width="{{indicator.paplCode}}"/></g></svg></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

        </tbody>
    </table>
    <table>
        <tbody>
            <tr ng-repeat="pa in vm.pa">
                <td>{{pa.indFullID}}</td>
            </tr>
        </tbody>
    </table>

</div>

  <!-- google maps stub-->
  <script src="../test/stubs/googlemaps.js"></script>
  <!-- take out the stub and use real google maps if you need to test maps -->
  <!--<script type='text/javascript' src='https://maps.google.com/maps/api/js'></script>-->
  <!-- injector:js -->
  <script src="../scripts/vendor/jquery/dist/jquery.js"></script>
  <script src="../scripts/vendor/d3/d3.js"></script>
  <script src="../scripts/vendor/bootstrap/dist/js/bootstrap.js"></script>
  <script src="../scripts/vendor/angular/angular.js"></script>
  <script src="../scripts/vendor/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="../scripts/vendor/angular-cookie/angular-cookie.js"></script>
  <script src="../scripts/vendor/angular-dc/dist/angular-dc.js"></script>
  <script src="../scripts/vendor/angular-dimple/dist/angular-dimple.js"></script>
  <script src="../scripts/vendor/angular-pnotify/src/angular-pnotify.js"></script>
  <script src="../scripts/vendor/angular-toggle-switch/angular-toggle-switch.min.js"></script>
  <script src="../scripts/vendor/angular-ui-grid/ui-grid.js"></script>
  <script src="../scripts/vendor/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="../scripts/vendor/angular-xeditable/dist/js/xeditable.js"></script>
  <script src="../scripts/vendor/angularjs-slider/dist/rzslider.js"></script>
  <script src="../scripts/vendor/crossfilter/crossfilter.js"></script>
  <script src="../scripts/vendor/d3-geo-projection/d3.geo.projection.js"></script>
  <script src="../scripts/vendor/dcjs/dc.js"></script>
  <script src="../scripts/vendor/dimple/dist/dimple.latest.js"></script>
  <script src="../scripts/vendor/enquire/dist/enquire.js"></script>
  <script src="../scripts/vendor/flow.js"></script>
  <script src="../scripts/vendor/flow.js/dist/flow.js"></script>
  <script src="../scripts/vendor/gmaps/gmaps.js"></script>
  <script src="../scripts/vendor/jScrollPane/script/jquery.jscrollpane.min.js"></script>
  <script src="../scripts/vendor/jScrollPane/script/jquery.mousewheel.js"></script>
  <script src="../scripts/vendor/jScrollPane/script/mwheelIntent.js"></script>
  <script src="../scripts/vendor/jquery-autosize/jquery.autosize.js"></script>
  <script src="../scripts/vendor/jquery-validation/dist/jquery.validate.js"></script>
  <script src="../scripts/vendor/jquery.inputmask/dist/jquery.inputmask.bundle.js"></script>
  <script src="../scripts/vendor/jquery.slimscroll/jquery.slimscroll.min.js"></script>
  <script src="../scripts/vendor/jquery.sparkline/index.js"></script>
  <script src="../scripts/vendor/key_drag_zoom/index.js"></script>
  <script src="../scripts/vendor/lodash/lodash.js"></script>
  <script src="../scripts/vendor/markerclustererplus/src/markerclusterer.js"></script>
  <script src="../scripts/vendor/ng-flow/dist/ng-flow.js"></script>
  <script src="../scripts/vendor/ng-token-auth/customised/ng-token-auth.js"></script>
  <script src="../scripts/vendor/ngmap/build/scripts/ng-map.js"></script>
  <script src="../scripts/vendor/overlapping_marker_spiderfier/index.js"></script>
  <script src="../scripts/vendor/plottable/plottable.js"></script>
  <script src="../scripts/vendor/pnotify_build/pnotify.custom.js"></script>
  <script src="../scripts/vendor/restangular/dist/restangular.js"></script>
  <script src="../scripts/vendor/seiyria-bootstrap-slider/js/bootstrap-slider.js"></script>
  <script src="../scripts/vendor/skylo/vendor/scripts/skylo.js"></script>
  <script src="../scripts/vendor/svg-typewriter/svgtypewriter.js"></script>
  <script src="../scripts/vendor/topojson/topojson.js"></script>
  <script src="../scripts/app/theme.js"></script>
  <script src="../scripts/app/pineapples.js"></script>
  <!-- endinjector -->

<script>
    ; (function () {
        var ctrlr = function (scope) {
            var self = this;
            scope.name = "Hello World";
            this.name = "controller name";
            d3.json("/test/data/perfassess_empty.json", function (data) {
                self.pa = data.ResultSet[1];
                self.paNest = d3.nest().key(function (d) { return (d.indFullID).slice(0, 5); }).key(function (d) { return (d.indFullID).slice(7, 8); }).entries(self.pa);
                self.ind = 
                scope.$apply();         // becuase d3 triggered this
            });
        }
        angular
            .module("pineapples")
            .controller("test", ["$scope", ctrlr]);
    })();
</script>
</body>
</html>
