﻿<!DOCTYPE html>
<html>
<head>
  <title></title>
  <meta charset="utf-8" />
  <!-- injector:css -->
  <link href="../bower_components/angularjs-slider/dist/rzslider.css" rel="stylesheet" />
  <link href="../bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
  <link href="../bower_components/plottable/plottable.css" rel="stylesheet" />
  <link href="../bower_components/d3/lib/colorbrewer/colorbrewer.css" rel="stylesheet" />
  <link href="../dist/styles/app/pineapples.css" rel="stylesheet"/>

  <!-- endinjector -->
</head>
<body ng-app="pineapples">
  <div ng-controller="ctrlr as vm">
    <p>{{vm.resourceList.category}}</p>
    <p>{{vm.resourceList.resourceCategory.categoryName}}</p>
    <button ng-click="vm.post()">Post</button>
    <!-- custom markup goes here -->
      <p></p>
    <div>
      <grid-panel school-no="10010" year="2008" table-name="ENROL"></grid-panel>
    </div>

    <div>
        <resource-list list="vm.resourceList"></resource-list>
    </div>


  </div>


  <!-- google maps stub-->
  <script src="../test/stubs/googlemaps.js"></script>
  <!-- take out the stub and use real google maps if you need to test maps -->
  <!--<script type='text/javascript' src='https://maps.google.com/maps/api/js'></script>-->
  <!-- injector:js -->
  <script src="../dist/scripts/vendor/jquery/dist/jquery.js"></script>
  <script src="../dist/scripts/vendor/d3/d3.js"></script>
  <script src="../dist/scripts/vendor/angular/angular.js"></script>
  <script src="../dist/scripts/vendor/angular-animate/angular-animate.js"></script>
  <script src="../dist/scripts/vendor/angular-aria/angular-aria.js"></script>
  <script src="../dist/scripts/vendor/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="../dist/scripts/vendor/angular-dc/dist/angular-dc.js"></script>
  <script src="../dist/scripts/vendor/angular-dimple/dist/angular-dimple.js"></script>
  <script src="../dist/scripts/vendor/angular-material-icons/angular-material-icons.js"></script>
  <script src="../dist/scripts/vendor/angular-material/angular-material.js"></script>
  <script src="../dist/scripts/vendor/angular-messages/angular-messages.js"></script>
  <script src="../dist/scripts/vendor/angular-pnotify/src/angular-pnotify.js"></script>
  <script src="../dist/scripts/vendor/angular-toggle-switch/angular-toggle-switch.min.js"></script>
  <script src="../dist/scripts/vendor/angular-ui-grid/ui-grid.js"></script>

  <script src="../dist/scripts/vendor/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="../dist/scripts/vendor/angular-permission/dist/angular-permission.js"></script>
  <script src="../dist/scripts/vendor/angular-permission/dist/angular-permission-ui.js"></script>


  <script src="../dist/scripts/vendor/angular-xeditable/dist/js/xeditable.js"></script>
  <script src="../dist/scripts/vendor/angularjs-slider/dist/rzslider.js"></script>
  <script src="../dist/scripts/vendor/bootstrap/dist/js/bootstrap.js"></script>
  <script src="../dist/scripts/vendor/colorbrewer/colorbrewer.js"></script>
  <script src="../dist/scripts/vendor/crossfilter/crossfilter.js"></script>
  <script src="../dist/scripts/vendor/d3-geo-projection/d3.geo.projection.js"></script>

  <script src="../dist/scripts/vendor/dcjs/dc.js"></script>
  <script src="../dist/scripts/vendor/dimple/dist/dimple.latest.js"></script>
  <script src="../dist/scripts/vendor/enquire/dist/enquire.js"></script>
  <script src="../dist/scripts/vendor/flow.js"></script>
  <script src="../dist/scripts/vendor/flow.js/dist/flow.js"></script>
  <script src="../dist/scripts/vendor/gmaps/gmaps.js"></script>
  <script src="../dist/scripts/vendor/jScrollPane/script/jquery.jscrollpane.min.js"></script>
  <script src="../dist/scripts/vendor/jScrollPane/script/jquery.mousewheel.js"></script>
  <script src="../dist/scripts/vendor/jScrollPane/script/mwheelIntent.js"></script>
  <script src="../dist/scripts/vendor/jquery-autosize/jquery.autosize.js"></script>
  <script src="../dist/scripts/vendor/jquery-validation/dist/jquery.validate.js"></script>
  <script src="../dist/scripts/vendor/jquery.inputmask/dist/jquery.inputmask.bundle.js"></script>
  <script src="../dist/scripts/vendor/jquery.sparkline/index.js"></script>

  <script src="../dist/scripts/vendor/key_drag_zoom/index.js"></script>
  <script src="../dist/scripts/vendor/keydragzoom/keydragzoom.js"></script>
  <script src="../dist/scripts/vendor/lodash/lodash.js"></script>
  <script src="../dist/scripts/vendor/markerclustererplus/src/markerclusterer.js"></script>
  <script src="../dist/scripts/vendor/ng-flow/dist/ng-flow.js"></script>
  <script src="../dist/scripts/vendor/ngmap/build/scripts/ng-map.js"></script>
  <script src="../dist/scripts/vendor/ngstorage/ngStorage.js"></script>
  <script src="../dist/scripts/vendor/overlapping_marker_spiderfier/index.js"></script>
  <script src="../dist/scripts/vendor/plottable/plottable.js"></script>
  <script src="../dist/scripts/vendor/pnotify_build/pnotify.custom.js"></script>
  <script src="../dist/scripts/vendor/restangular/dist/restangular.js"></script>
  <script src="../dist/scripts/vendor/seiyria-bootstrap-slider/js/bootstrap-slider.js"></script>
  <script src="../dist/scripts/vendor/skylo/vendor/scripts/skylo.js"></script>
  <script src="../dist/scripts/vendor/svg-typewriter/svgtypewriter.js"></script>
  <script src="../dist/scripts/vendor/topojson/topojson.js"></script>
  <script src="../dist/scripts/app/pineapples.js"></script>
  <script src="../dist/scripts/app/theme.js"></script>
  <!-- endinjector -->
  <script>
    (function (angular) {
      var controller = function ($scope) {
        $scope.name = "Hello World";
        var self = this;

        self.post = function () {
          console.log(self.resourceList);
        }
        self._makeFat = function (data) {
          var f = new Array();
          for (var i = 0; i < self.resourceList.rows.length; i++) {
            var r = self.resourceList.rows[i];
            f[i] = {resourceCode: r.code};
          }

          data.forEach((e) => {
            var irow = _.findIndex(self.resourceList.rows, { "code": e.resourceCode });
            if (irow >= 0) {
              f[irow] = e;
            }
          });
          return f;
        };
        // load the data you need here
        d3.json("/test/data/laboratoryResource.json", function (error, data) {
          self.resourceList = data.ResultSet;       // use self in this d3 function to refer to the controller
          // your tests go here - using your data
          // IMPORTANT - remember to $appply before exiting this event triggered by d3
          // otherwise angular will not refresh the page
          self.resourceList.data = self._makeFat(self.resourceList.data);
          $scope.$apply();

        });
      };
      angular
          .module("pineapples")
          .controller("ctrlr", ["$scope", controller]);
    })(window.angular);
  </script>
</body>

</html>
