﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <style>
        .background {
            visibility:visible;

        }
        .plottable.scatter .legend text {
            font-family:Arial, Helvetica, sans-serif;
            font-size:12px;
            font-weight:normal;
        }
        .d3-tip {
          line-height: 1;
          font-weight: bold;
          padding: 12px;
          background: rgba(0, 0, 0, 0.8);
          color: #fff;
          border-radius: 2px;
        }

        /* Creates a small triangle extender for the tooltip */
        .d3-tip:after {
          box-sizing: border-box;
          display: inline;
          font-size: 10px;
          width: 100%;
          line-height: 1;
          color: rgba(0, 0, 0, 0.8);
          content: "\25BC";
          position: absolute;
          text-align: center;
        }

        /* Style northward tooltips differently */
        .d3-tip.n:after {
          margin: -1px 0 0 0;
          top: 100%;
          left: 0;
}
    </style>

    <link href="../bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="../bower_components/plottable/plottable.css" rel="stylesheet" />
</head>
<body ng-app="pineapples">


    <!--
        <script src="_client/app/js/features/scatter/scatterAPI.js"></script>
     -->
    <div ng-controller="ctrlr as vm">
        <table>
            <tr>
                <td>
                    <div class="btn-group">
                        <label class="btn btn-primary" ng-model="vm.chartType" uib-btn-radio="'v'">
                            <svg height="16" width="16">
                                <g transform="scale(.8, .8)">
                                    <rect fill="white" stroke-width="0" x="0" width="8" y="12" height="8"></rect>
                                    <rect fill="#202020"  stroke-width="0"  x="0" width="8" y="8" height="4"></rect>
                                    <rect fill="white" stroke-width="0"  x="12" width="8" y="8" height="12"></rect>
                                    <rect fill="#202020" stroke-width="0"  x="12" width="8" y="2" height="6"></rect>
                                </g>
                            </svg>
                        </label>
                        <label class="btn btn-primary" ng-model="vm.chartType" uib-btn-radio="'vp'">
                            <svg height="16" width="16">
                                <g transform="scale(.8, .8)">
                                    <rect fill="white" stroke-width="0" x="0" width="8" y="5" height="15"></rect>
                                    <rect fill="#202020" stroke-width="0" x="0" width="8" y="0" height="5"></rect>
                                    <rect fill="white" stroke-width="0" x="12" width="8" y="8" height="12"></rect>
                                    <rect fill="#202020" stroke-width="0" x="12" width="8" y="0" height="8"></rect>
                                </g>
                            </svg>

                        </label>
                        <label class="btn btn-primary" ng-model="vm.chartType" uib-btn-radio="'vc'">
                            <svg height="16" width="16">
                                <g transform="scale(.8, .8)">
                                    <rect fill="white" stroke-width="0" x="0" width="4" y="12" height="8"></rect>
                                    <rect fill="#202020" stroke-width="0" x="5" width="4" y="16" height="4"></rect>
                                    <rect fill="white" stroke-width="0" x="11" width="4" y="8" height="12"></rect>
                                    <rect fill="#202020" stroke-width="0" x="16" width="4" y="14" height="6"></rect>
                                </g>
                            </svg>
                        </label>
                        <label class="btn btn-primary" ng-model="vm.chartType" uib-btn-radio="'h'">
                            <svg height="16" width="16">
                                <g transform="rotate(90, 0, 0) translate(0,-20) scale(.8, .8)">
                                    <rect fill="white" stroke-width="0" x="0" width="8" y="12" height="8"></rect>
                                    <rect fill="#202020" stroke-width="0" x="0" width="8" y="8" height="4"></rect>
                                    <rect fill="white" stroke-width="0" x="12" width="8" y="8" height="12"></rect>
                                    <rect fill="#202020" stroke-width="0" x="12" width="8" y="2" height="6"></rect>
                                </g>
                            </svg>
                        </label>
                        <label class="btn btn-primary" ng-model="vm.chartType" uib-btn-radio="'hp'">
                            <svg height="16" width="16">
                                <g transform="scale(.8, .8) rotate(90, 0, 0) translate(0,-20) ">
                                    <rect fill="white" stroke-width="0" x="0" width="8" y="5" height="15"></rect>
                                    <rect fill="#202020" stroke-width="0" x="0" width="8" y="0" height="5"></rect>
                                    <rect fill="white" stroke-width="0" x="12" width="8" y="8" height="12"></rect>
                                    <rect fill="#202020" stroke-width="0" x="12" width="8" y="0" height="8"></rect>
                                </g>
                            </svg>
                        </label>
                        <label class="btn btn-primary" ng-model="vm.chartType" uib-btn-radio="'hc'">
                           <svg height="16" width="16">
                                <g transform="scale(.8, .8) rotate(90, 0, 0) translate(0,-20) ">
                                    <rect fill="white" stroke-width="0" x="0" width="4" y="12" height="8"></rect>
                                    <rect fill="#202020" stroke-width="0" x="5" width="4" y="16" height="4"></rect>
                                    <rect fill="white" stroke-width="0" x="11" width="4" y="8" height="12"></rect>
                                    <rect fill="#202020" stroke-width="0" x="16" width="4" y="14" height="6"></rect>
                                </g>
                            </svg>
                        </label>

                    </div>
                </td>
                <td>
                    <button type="button" class="btn btn-primary" ng-model="vm.flip" uib-btn-checkbox btn-checkbox-true="'on'" btn-checkbox-false="'off'">
                        flip
                    </button>
                </td>
            </tr>

        </table>
        <p></p>
        <div row-col-chart height="600" width="800" dataset="dataset"
             charttype="{{vm.chartType}}" flip="{{vm.flip}}" info="vm.info"></div>
    </div>
  <script src="http://maps.google.com/maps/api/js"></script>

  <!-- injector:js -->
  <script src=" ../bower_components/angular/angular.js"></script>
  <script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="../bower_components/lodash/dist/lodash.compat.js"></script>
  <script src="../bower_components/d3/d3.js"></script>
  <script src="../bower_components/d3/lib/colorbrewer/colorbrewer.js"></script>
  <script src="../bower_components/crossfilter/crossfilter.js"></script>
  <script src="../bower_components/dcjs/dc.js"></script>
  <script src="../bower_components/angular-dc/dist/angular-dc.js"></script>
  <script src="../bower_components/dimple/dist/dimple.latest.js"></script>
  <script src="../bower_components/angular-dimple/dist/angular-dimple.js"></script>
  <script src="../bower_components/jquery/dist/jquery.js"></script>
  <script src="../bower_components/angular-pnotify/src/angular-pnotify.js"></script>
  <script src="../bower_components/angular-toggle-switch/angular-toggle-switch.min.js"></script>
  <script src="../bower_components/angular-ui-grid/ui-grid.js"></script>
  <script src="../bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="../bower_components/angular-xeditable/dist/js/xeditable.js"></script>
  <script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="../bower_components/d3-geo-projection/d3.geo.projection.js"></script>
  <script src="../bower_components/enquire/dist/enquire.js"></script>
  <script src="../bower_components/gmaps/gmaps.js"></script>
  <script src="../bower_components/jquery.inputmask/dist/jquery.inputmask.bundle.js"></script>
  <script src="../bower_components/jquery.slimscroll/jquery.slimscroll.min.js"></script>
  <script src="../bower_components/jquery.sparkline/index.js"></script>
  <script src="../bower_components/jquery-autosize/jquery.autosize.js"></script>
  <script src="../bower_components/jquery-validation/dist/jquery.validate.js"></script>
  <script src="../bower_components/jScrollPane/script/jquery.mousewheel.js"></script>
  <script src="../bower_components/jScrollPane/script/mwheelIntent.js"></script>
  <script src="../bower_components/jScrollPane/script/jquery.jscrollpane.min.js"></script>
  <script src="../bower_components/key_drag_zoom/index.js"></script>
  <script src="../bower_components/markerclustererplus/src/markerclusterer.js"></script>
  <script src="../bower_components/flow.js/dist/flow.js"></script>
  <script src="../bower_components/ng-flow/dist/ng-flow.js"></script>
  <script src="../bower_components/ngmap/build/scripts/ng-map.js"></script>
  <script src="../bower_components/angular-cookie/angular-cookie.js"></script>
  <script src="../bower_components/ng-token-auth/customised/ng-token-auth.js"></script>
  <script src="../bower_components/overlapping_marker_spiderfier/index.js"></script>
  <script src="../bower_components/svg-typewriter/svgtypewriter.js"></script>
  <script src="../bower_components/plottable/plottable.js"></script>
  <script src="../bower_components/pnotify_build/pnotify.custom.js"></script>
  <script src="../bower_components/restangular/dist/restangular.js"></script>
  <script src="../bower_components/seiyria-bootstrap-slider/js/bootstrap-slider.js"></script>
  <script src="../bower_components/skylo/vendor/scripts/skylo.js"></script>
  <script src="../bower_components/topojson/topojson.js"></script>
  <script src="../bower_components/angularjs-slider/dist/rzslider.js"></script>

  <script src="../scripts/app/pineapples.js"></script>
  <script src="../scripts/app/theme.js"></script>
  <!-- endinjector -->
    <script>
        ;
        (function () {

            var ctrlr = function ($scope, $compile) {
                var self = this;

                d3.json("../test/data/rowcolData.json", function(data) {
                    $scope.dataset = data;
                    // $apply is needed becuase the d3 callback is out of Angular's view
                    $scope.$apply();
                });
                var _chtType;
                Object.defineProperty(self, "chartType",
                {
                    get: function() { return _chtType; },
                    set: function(n) {
                        _chtType = n;
                        switch(_chtType) {
                            case "v":
                                self.orientation = "vertical";
                                self.percentage = "actual";
                                self.stack = "stack";
                                break;
                            case "vp":
                                self.orientation = "vertical";
                                self.percentage = "percentage";
                                self.stack = "stack";
                                break;
                            case "vc":
                                self.orientation = "vertical";
                                self.percentage = "actual";
                                self.stack = "cluster";
                                break;
                            case "h":
                                self.orientation = "horizontal";
                                self.percentage = "actual";
                                self.stack = "stack";
                                break;
                            case "hp":
                                self.orientation = "horizontal";
                                self.percentage = "percentage";
                                self.stack = "stack";
                                break;
                            case "hc":
                                self.orientation = "horizontal";
                                self.percentage = "actual";
                                self.stack = "cluster";
                                break;
                        }
                    }
                });
                this.chartType = "v";
                this.flip = "on";
            }
            angular
                .module("pineapples")
                .controller("ctrlr", ['$scope', '$compile', ctrlr]);
        })();


    </script>




</body>
</html>
