﻿<md-content flex layout-padding>
  <p>
    The main data collection method currently with the EMIS is an annual survey using the excel workbook.
    Below you can see a summary of the yearly submitted surveys (workbook) for your school.
  </p>
</md-content>

<table class="schoolsurveys table table-condensed table-striped table-hover">

  <thead>
    <tr>
      <th class="colhdr white-bg no-left-border"></th>
      <th class="colhdr white-bg no-left-border"></th>
      <th class="colhdr white-bg no-left-border"></th>
      <th class="colhdr gray-left-border" colspan="3" style="text-align:center">Enrolment</th>
      <th class="colhdr gray-left-border" colspan="2" style="text-align:center">Level</th>
      <th class="colhdr white-bg"></th>
      @*<th class="colhdr white-bg no-left-border"></th>*@
    </tr>
    <tr>
      <th class="colghdr">Survey Year</th>
      <th class="colghdr gray-left-border">School Type</th>
      <th class="colghdr gray-left-border">Authority</th>
      <th class="colghdr gray-left-border text-right">Total</th>
      <th class="colghdr text-right">M</th>
      <th class="colghdr text-right">F</th>
      <th class="colghdr gray-left-border text-right">Min</th>
      <th class="colghdr text-right">Max</th>
      <th class="colghdr gray-left-border text-right">Teachers</th>
      <th class="colghdr gray-left-border text-right">Classrooms</th>
      @*<th class="colghdr gray-left-border">Operations</th>*@
    </tr>
  </thead>

  <tbody>
    <tr ng-class="{'editing': vm.activeSurvey.year == survey.svyYear}" data-ng-repeat="survey in vm.surveys | orderBy: svyYear : true">
      <td>{{survey.svyYear | surveyYear}}</td>
      <td>{{survey.ssSchType}}</td>
      <td>{{survey.ssAuth |lookup:"authorities"}}</td>
      <td class="text-right">{{survey.ssEnrol}}</td>
      <td class="text-right">{{survey.ssEnrolM}}</td>
      <td class="text-right">{{survey.ssEnrolF}}</td>
      <td class="text-right">{{survey.minLevel}}</td>
      <td class="text-right">{{survey.maxLevel}}</td>
      <td class="text-right">{{survey.TeacherSurveyCount}}</td>
      <td class="text-right">{{survey.ClassroomCount}}</td>
      @*Use state #/schools/{{survey.schNo}}/surveys/{{survey.svyYear}}? OR
        ng-click="vm.showEditSurvey(survey.schNo, survey.svyYear, survey)" *@
      @*<td>
          <md-button class="md-icon-button" ng-click="vm.showEditSurvey(survey.schNo, survey.svyYear)" ng-hide="vm.activeSurvey.year == survey.svyYear">
            <md-tooltip>Edit survey data</md-tooltip>
            <md-icon class="material-icons md-24 md-dark">edit</md-icon>
          </md-button>
          <md-button class="md-icon-button" ng-click="vm.closeEditSurvey(survey.schNo, survey.svyYear)" ng-show="vm.activeSurvey.year == survey.svyYear">
            <md-tooltip>Close survey data</md-tooltip>
            <md-icon class="material-icons md-24 md-dark">close</md-icon>
          </md-button>
          <md-button class="md-icon-button" ng-show="survey.eForm" ng-click="vm.showAuditLog(survey.schNo, survey.svyYear)">
            <md-tooltip>View logs</md-tooltip>
            <md-icon class="material-icons md-24 md-dark">description</md-icon>
          </md-button>
          <md-button class="md-icon-button" disabled ng-hide="survey.eForm" ng-click="vm.showAuditLog(survey.schNo, survey.svyYear)">
            <md-tooltip>No logs to view</md-tooltip>
            <md-icon class="material-icons md-24 md-dark">description</md-icon>
          </md-button>
        </td>*@
    </tr>
  </tbody>

</table>

<survey model="vm" school-survey="vm.activeSurvey" ng-show="vm.editSurveyOpened"></survey>
