﻿<div>
    <button type="submit" ng-click="vm.FlashFind()"><i class="fa fa-bolt"></i></button>
    <input type="text" ng-model="vm.findConfig.current.flashString" class="search-query" placeholder="Search..."
           ng-style="{width: style_showSearchCollapsed? 'auto':''}">
</div>
