﻿@* Is this being still used or is the PagedListParamsComponent now used? *@
<!-- expects controllerAs: vm -->
<div id="datadiv" style="margin:2px">
  <form class="form-inline" style="padding-top: 4px">
    <div class="form-group">
      <div>
        <label class="form-label" for="viewMode">Show columns:  </label>
        <md-select ng-model="vm.viewMode">
          <md-option ng-repeat="key in vm.supportedViewModes()" ng-value="key" ng-disabled="$index === 1">
            {{key}}
          </md-option>
        </md-select>
      </div>
    </div>
  </form>
</div>