﻿<h4>Filter Dataset <i class="fa fa-question-circle"><md-tooltip md-direction="top">Only display data of interest</md-tooltip></i></h4>

@*<md-input-container class="md-block" flex-gt-sm>
  <label>{{"School No" | vocab }}</label>
  <input ng-model="vm.params.SchoolNo" type="text" />
</md-input-container>*@

<md-input-container class="md-block" flex-gt-sm>
  <label>Exam ID</label>
  <input ng-model="vm.params.ExamID" type="text" />
</md-input-container>

<md-input-container class="md-block" flex-gt-sm>
  <label>Exam Name</label>
  <lookup-selector name="exName" lkp="examTypes" ng-model="vm.params.ExamCode" 
                   ng-disabled="vm.findConfig.isLocked('ExamName')"/>
</md-input-container>

<md-input-container class="md-block" flex-gt-sm>
  <label>Exam Year</label>
  <input ng-model="vm.params.ExamYear" type="text" />
</md-input-container>

@*<md-input-container class="md-block" flex-gt-sm>
  <label>Exam Date</label>
  <md-datepicker ng-model="vm.params.ExamDate" md-placeholder="Enter date"></md-datepicker>
</md-input-container>*@

<section layout="row" layout-align="center center">
  <md-button class="md-raised" id="Reset" ng-click="vm.Reset()"><i class="fa fa-close"></i> Clear</md-button>
  <md-button class="md-raised md-primary" id="findNow" ng-click="vm.FindNow()"><i class="fa fa-filter"></i> Filter</md-button>
</section>