﻿@*
  Page Edit Layout for single page edit of an entity
*@
<div>
  <panel panel-class="panel-primary"
         heading="@RenderSection("title", false)"
         panel-icon="@RenderSection("icon", false)"
         panel-collapse="true">
    <panel-controls>
      @if (ViewBag.EditPermission != null)
      {
            <span permission permission-only="'@ViewBag.EditPermission'">
              <md-button ng-show="!vm.isEditing" ng-click="vm.setEditing(true)">
                <span><i class="fa fa-pencil-square-o" /> Edit</span>
              </md-button>

              <md-button ng-class="vm.modelForm.$invalid ? 'invalid' : 'valid'" ng-show="vm.isEditing" ng-disabled="vm.isWaiting || vm.modelForm.$invalid" ng-click="vm.save()">
                <span ng-show="vm.isWaiting"><i class="fa fa-spinner spinning" /> Saving...</span>
                <span ng-show="!vm.isWaiting"><i class="fa fa-save" /> Save</span>
              </md-button>

              <md-button ng-show="vm.isEditing" ng-disabled="vm.isWaiting" ng-click="vm.undo()">
                <span><i class="fa fa-undo" /> Undo changes</span>
              </md-button>
            </span>
      }
    </panel-controls>
    @RenderBody()
  </panel>
</div>
