﻿@*
  Provides a standard framework for wrapping content into an
  angular-material dialog

  classes - classes desgined to subclass 
    md-toolbar-tools
    md-dialog-content
    md-dialog-actions
  include:
    picture-dialog....
    condensed-dialog....
    edit-dialog...
*@
<md-dialog class="@RenderSection("class", false)">
  <md-toolbar>
    <div class="md-toolbar-tools">
      @RenderSection("icon", false)
      &nbsp;
      @RenderSection("title", false)
      <span flex></span>
      @RenderSection("tools", false) 

      <md-button class="md-icon-button" ng-click="dvm.closeDialog()">
        <i aria-label="Close dialog" class="material-icons">&#xE5CD;</i>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <div class="md-dialog-content">
      @RenderBody()
    </div>
  </md-dialog-content>
  <md-dialog-actions layout="row">
      @RenderSection("actions", false)
    <edit-ui-buttons edit-action="dvm.setEditing(true)"
                     save-action="dvm.save()"
                     undo-action="dvm.undo()"
                     form="dvm.modelForm"
                     is-waiting="dvm.isWaiting"
                     is-editing="dvm.isEditing"
                     show-labels="false"></edit-ui-buttons>
  </md-dialog-actions>
</md-dialog>