﻿<table class="gendergrid" ng-show="pupilTable.data != undefined">
    <colgroup>
        <col width="50px" />
        <col width="50px" ng-repeat-start="c in pupilTable.cols" />
        <col width="50px" ng-repeat-end />
        <col width="50px" />
        <col width="50px" />
        <col width="50px" />
    </colgroup>
    <thead>
        <tr>
            <th> </th>
            <th class="colhdr" ng-class="{current: (ctrlr.selectedCol == $index)}" colspan="2" ng-repeat="c in pupilTable.cols">{{c.codeDescription}}</th>
            <th class="colhdr" colspan="3">Total</th>
        </tr>
        <tr>
        <tr>
            <th>Age</th>
            <th class="colghdr" ng-repeat-start="c in pupilTable.cols">M</th>
            <th class="colghdr" ng-repeat-end>F</th>
            <th>M</th>
            <th>F</th>
            <th>Total</th>
        </tr>
        </tr>

    </thead>
    <tbody>
        <tr ng-repeat="r in pupilTable.rows">
            <td class="rowhdr"
                ng-class="{current: (ctrlr.selectedRow == $index)}">
                {{r.codeDescription}}
            </td>
            <td class="colm" ng-repeat-start="c in pupilTable.cols track by $index">

                <input type="number" onfocus="this.select();"
                       ng-model="pupilTable.data[$parent.$index][$index].M"
                       ng-focus="ctrlr.gridFocus($parent.$index,$index,'M')"
                       ng-blur="ctrlr.gridBlur()"
                       ng-keydown="ctrlr.gridkeydown($event,$parent.$index,$index,'M')"
                       sync-focus-with="ctrlr.focusRequested($parent.$index,$index,'M')" />
            </td>
            <td ng-repeat-end>
                <input type="number" onfocus="this.select();"
                       ng-model="pupilTable.data[$parent.$index][$index].F"
                       ng-focus="ctrlr.gridFocus($parent.$index,$index,'F')"
                       ng-blur="ctrlr.gridBlur()"
                       ng-keydown="ctrlr.gridkeydown($event,$parent.$index,$index,'F')"
                       sync-focus-with="ctrlr.focusRequested($parent.$index,$index,'F')" />
            </td>


            <td class="totg">{{ctrlr.rowSum(pupilTable.data,$index,'M') | z0}}</td>
            <td class="totg">{{ctrlr.rowSum(pupilTable.data,$index,'F') | z0}}</td>
            <td class="tot">{{ctrlr.rowSum(pupilTable.data,$index) | z0}}</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td></td>
            <td class="colm totg" ng-repeat-start="c in pupilTable.cols track by $index">
                {{ctrlr.colSum(pupilTable.data,$index,'M') | z0}}
            </td>
            <td class="totg" ng-repeat-end>
                {{ctrlr.colSum(pupilTable.data,$index,'F') | z0}}
            </td>
            <!-- all gender totals-->
            <td class="totg">{{ctrlr.gridSum(pupilTable.data,'M') | z0}}</td>
            <td class="totg">{{ctrlr.gridSum(pupilTable.data,'F') | z0}}</td>
            <td></td>
        </tr>

        <tr>
            <td></td>
            <td class="tot" colspan="2" ng-repeat="c in pupilTable.cols track by $index">
                {{ctrlr.colSum(pupilTable.data,$index) | z0}}
            </td>
            <td></td>
            <td></td>
            <td class="tot">{{ctrlr.gridSum(pupilTable.data) | z0}}</td>
        </tr>
    </tfoot>
</table>