﻿<div class="row">
  <div class="col-md-12 col-lg-6">
    <quarterly-report-chart quarterlyreports="vm.quarterlyreports" title="Historical Aggregate Attendance Metrics" meta="[{metric: 'AggDaysAtt', name: 'Agg. Days of Attendance'}, {metric: 'AggDaysAbs', name: 'Agg. Days of Absence'}, {metric: 'AggDaysMem', name: 'Agg. Days of Membership'}]"></quarterly-report-chart>
  </div>
  <div class="col-md-12 col-lg-6">
    <quarterly-report-chart quarterlyreports="vm.quarterlyreports" title="Historical Average Attendance Metrics" meta="[{metric: 'AvgDailyAtt', name: 'Avg. Daily Attendance'}, {metric: 'AvgDailyMem', name: 'Avg. Daily Membership'}]"></quarterly-report-chart>
  </div>
  <div class="col-md-12 table-responsive">
    <table class="schoolsurveys table table-condensed table-striped table-hover">
      <thead>
        <tr>
          <th class="colhdr">Period</th>
          <th class="colhdr">Submitted By</th>
          <th class="colhdr text-right"># Days Open</th>
          <th class="colhdr text-right">Agg. Days of Attendance (M)</th>
          <th class="colhdr text-right">Agg. Days of Attendance (F)</th>
          <th class="colhdr text-right">Agg. Days of Attendance</th>
          <th class="colhdr text-right">Agg. Days of Absence (M)</th>
          <th class="colhdr text-right">Agg. Days of Absence (F)</th>
          <th class="colhdr text-right">Agg. Days of Absence</th>
          <th class="colhdr text-right">Agg. Days of Membership (M)</th>
          <th class="colhdr text-right">Agg. Days of Membership (F)</th>
          <th class="colhdr text-right">Agg. Days of Membership</th>
          <th class="colhdr text-right">Avg. Daily Attendance (M)</th>
          <th class="colhdr text-right">Avg. Daily Attendance (F)</th>
          <th class="colhdr text-right">Avg. Daily Attendance</th>
          <th class="colhdr text-right">Avg. Daily Membership (M)</th>
          <th class="colhdr text-right">Avg. Daily Membership (F)</th>
          <th class="colhdr text-right">Avg. Daily Membership</th>
          <th class="colhdr text-right">Total Enrollment to Date (M)</th>
          <th class="colhdr text-right">Total Enrollment to Date (F)</th>
          <th class="colhdr text-right">Total Enrollment to Date</th>
          <th class="colhdr text-right">Dropout (M)</th>
          <th class="colhdr text-right">Dropout (F)</th>
          <th class="colhdr text-right">Dropout</th>
          <th class="colhdr text-right">Transfers In (M)</th>
          <th class="colhdr text-right">Transfers In (F)</th>
          <th class="colhdr text-right">Transfers In</th>
          <th class="colhdr text-right">Transfers Out (M)</th>
          <th class="colhdr text-right">Transfers Out (F)</th>
          <th class="colhdr text-right">Transfers Out</th>
          <th class="colhdr text-right">Grads 8th (M)</th>
          <th class="colhdr text-right">Grads 8th (F)</th>
          <th class="colhdr text-right">Grads 8th</th>
          <th class="colhdr text-right">Grads 12th (M)</th>
          <th class="colhdr text-right">Grads 12th (F)</th>
          <th class="colhdr text-right">Grads 12th</th>
        </tr>
      </thead>
      <tbody>
        <tr data-ng-repeat="qr in vm.quarterlyreports | orderBy: 'InspQuarterlyReport' : true">
          <td>{{qr.InspQuarterlyReport}}</td>
          <td>{{qr.InspectedBy}}</td>
          <td class="text-right">{{qr.NumDaysOpen | number}}</td>
          <td class="text-right">{{qr.AggDaysAttM | number}}</td>
          <td class="text-right">{{qr.AggDaysAttF | number}}</td>
          <td class="text-right">{{qr.AggDaysAtt | number}}</td>
          <td class="text-right">{{qr.AggDaysAbsM | number}}</td>
          <td class="text-right">{{qr.AggDaysAbsF | number}}</td>
          <td class="text-right">{{qr.AggDaysAbs | number}}</td>
          <td class="text-right">{{qr.AggDaysMemM | number}}</td>
          <td class="text-right">{{qr.AggDaysMemF | number}}</td>
          <td class="text-right">{{qr.AggDaysMem | number}}</td>
          <td class="text-right">{{qr.AvgDailyAttM | number}}</td>
          <td class="text-right">{{qr.AvgDailyAttF | number}}</td>
          <td class="text-right">{{qr.AvgDailyAtt | number}}</td>
          <td class="text-right">{{qr.AvgDailyMemM | number}}</td>
          <td class="text-right">{{qr.AvgDailyMemF | number}}</td>
          <td class="text-right">{{qr.AvgDailyMem | number}}</td>
          <td class="text-right">{{qr.TotEnrolToDateM | number}}</td>
          <td class="text-right">{{qr.TotEnrolToDateF | number}}</td>
          <td class="text-right">{{qr.TotEnrolToDate | number}}</td>
          <td class="text-right">{{qr.DropoutM | number}}</td>
          <td class="text-right">{{qr.DropoutF | number}}</td>
          <td class="text-right">{{qr.Dropout | number}}</td>
          <td class="text-right">{{qr.TrinM | number}}</td>
          <td class="text-right">{{qr.TrinF | number}}</td>
          <td class="text-right">{{qr.Trin | number}}</td>
          <td class="text-right">{{qr.TroutM | number}}</td>
          <td class="text-right">{{qr.TroutF | number}}</td>
          <td class="text-right">{{qr.Trout | number}}</td>
          <td class="text-right">{{qr.Grad8M | number}}</td>
          <td class="text-right">{{qr.Grad8F | number}}</td>
          <td class="text-right">{{qr.Grad8 | number}}</td>
          <td class="text-right">{{qr.Grad12M | number}}</td>
          <td class="text-right">{{qr.Grad12F | number}}</td>
          <td class="text-right">{{qr.Grad | number}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>