﻿<div id="datadiv">

  <ol class="breadcrumb">
    <li><i class="fa fa-location-arrow"></i></li>
    <li>Quarterly Reports</li>
    <li>Dashboard</li>
  </ol>

  <div layout="row" layout-margin class="layout-margin-hack">
    <div flex="100">
      <panel panel-class="panel-primary"
             heading="Quarterly Reports (9-Week Report) Dashboard"
             panel-icon="fa fa-dashboard"
             panel-collapse="true">

        <h3>Quarterly Reports Data Trends</h3>
        <img class="img-responsive" src="assets/img/temp-quarterly-reports-aggregate-trend.png" />
        <img class="img-responsive" src="assets/img/temp-quarterly-reports-average-trend.png" />

      </panel>
    </div>
    </div>

  </div>
