﻿@{
    Layout = null;
}

<div class="container searcher">
  <div class="col-md-11">

    <div class="col-md-2">
      <div class="form-group">
        <label for="QRID">Quarterly Report ID</label>
        <input class="form-control" ng-model="vm.params.QRID" type="number" />
      </div>
    </div>

    <div class="col-md-2">
      <div class="form-group">
        <label for="SchoolNo">{{"School No" | vocab }}</label>
        <input class="form-control" ng-model="vm.params.SchoolNo" type="text" />
      </div>
    </div>

    <div class="col-md-2">
      <div class="form-group">
        <label for="School">School Name</label>
        <input class="form-control" ng-model="vm.params.School" type="text" />
      </div>
    </div>

    @*TODO - Move to dynamic lookups of existing quarterly report periods*@
    <div class="col-md-2">
      <div class="form-group">
        <label for="InspQuarterlyReport">Quarter (e.g. 2014/Q4)</label>
        <input class="form-control" ng-model="vm.params.InspQuarterlyReport" type="text" />
      </div>
    </div>
  </div>

  <div class="col-md-1">
    <div class="form-group">
      <button class="btn btn-default findNow" id="findNow" ng-click="vm.FindNow()">
        Find
      </button>
    </div>

    <div class="form-group">
      <button id="Reset" class="btn clearSearch" ng-click="vm.Reset()">
        Clear
      </button>
    </div>
  </div>

</div>

