﻿<ol class="breadcrumb">
  <li><i class="fa fa-location-arrow"></i></li>
  <li>Profile</li>
</ol>

<panel panel-class="panel-primary"
       panel-icon="fa fa-pencil"
       heading="{{vm.title}}"
       panel-collapse="true">

  <table class="gendergrid resources">
    <colgroup>
      <col width="220" />
      <col width="80" />
      <col width="80" />
      <col width="80" />
      <col width="80" />
      <col width="80" />
      <col width="80" />
    </colgroup>

    <thead>
      <tr>
        <th class="colhdr"></th>
        <th class="colhdr">Read</th>
        <th class="colhdr">ReadX</th>
        <th class="colhdr">Write</th>
        <th class="colhdr">WriteX</th>
        <th class="colhdr">Ops</th>
        <th class="colhdr">Admin</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="rowhdr">Enrolment</td>
        <td class="colm text-center"><span permission permission-only="'EnrolmentRead'"><i class="fa fa-check"></i></span></td>
        <td class="colm text-center"><span permission permission-only="'EnrolmentReadX'"><i class="fa fa-check"></i></span></td>
        <td class="colm text-center"><span permission permission-only="'EnrolmentWrite'"><i class="fa fa-check"></i></span></td>
        <td class="colm text-center"><span permission permission-only="'EnrolmentWriteX'"><i class="fa fa-check"></i></span></td>
        <td class="colm text-center"><span permission permission-only="'EnrolmentOps'"><i class="fa fa-check"></i></span></td>
        <td class="colm text-center"><span permission permission-only="'EnrolmentAdmin'"><i class="fa fa-check"></i></span></td>
      </tr>

      <tr>
        <td class="rowhdr">Establishment</td>
        <td class="colm text-center"><span permission permission-only="'EstablishmentRead'"><i class="fa fa-check"></i></span></td>
        <td class="colm text-center"><span permission permission-only="'EstablishmentReadX'"><i class="fa fa-check"></i></span></td>
        <td class="colm text-center"><span permission permission-only="'EstablishmentWrite'"><i class="fa fa-check"></i></span></td>
        <td class="colm text-center"><span permission permission-only="'EstablishmentWriteX'"><i class="fa fa-check"></i></span></td>
        <td class="colm text-center"><span permission permission-only="'EstablishmentOps'"><i class="fa fa-check"></i></span></td>
        <td class="colm text-center"><span permission permission-only="'EstablishmentAdmin'"><i class="fa fa-check"></i></span></td>
      </tr>

      <tr>
        <td class="rowhdr">Exam</td>
        <td class="colm text-center"><span permission permission-only="'ExamRead'"><i class="fa fa-check"></i></span></td>
        <td class="colm text-center"><span permission permission-only="'ExamReadX'"><i class="fa fa-check"></i></span></td>
        <td class="colm text-center"><span permission permission-only="'ExamWrite'"><i class="fa fa-check"></i></span></td>
        <td class="colm text-center"><span permission permission-only="'ExamWriteX'"><i class="fa fa-check"></i></span></td>
        <td class="colm text-center"><span permission permission-only="'ExamOps'"><i class="fa fa-check"></i></span></td>
        <td class="colm text-center"><span permission permission-only="'ExamAdmin'"><i class="fa fa-check"></i></span></td>
      </tr>

      <tr>
        <td class="rowhdr">Finance</td>
        <td class="colm text-center"><span permission permission-only="'FinanceRead'"><i class="fa fa-check"></i></span></td>
        <td class="colm text-center"><span permission permission-only="'FinanceReadX'"><i class="fa fa-check"></i></span></td>
        <td class="colm text-center"><span permission permission-only="'FinanceWrite'"><i class="fa fa-check"></i></span></td>
        <td class="colm text-center"><span permission permission-only="'FinanceWriteX'"><i class="fa fa-check"></i></span></td>
        <td class="colm text-center"><span permission permission-only="'FinanceOps'"><i class="fa fa-check"></i></span></td>
        <td class="colm text-center"><span permission permission-only="'FinanceAdmin'"><i class="fa fa-check"></i></span></td>
      </tr>

      <tr>
        <td class="rowhdr">Infrastructure</td>
        <td class="colm text-center"><span permission permission-only="'InfrastructureRead'"><i class="fa fa-check"></i></span></td>
        <td class="colm text-center"><span permission permission-only="'InfrastructureReadX'"><i class="fa fa-check"></i></span></td>
        <td class="colm text-center"><span permission permission-only="'InfrastructureWrite'"><i class="fa fa-check"></i></span></td>
        <td class="colm text-center"><span permission permission-only="'InfrastructureWriteX'"><i class="fa fa-check"></i></span></td>
        <td class="colm text-center"><span permission permission-only="'InfrastructureOps'"><i class="fa fa-check"></i></span></td>
        <td class="colm text-center"><span permission permission-only="'InfrastructureAdmin'"><i class="fa fa-check"></i></span></td>
      </tr>

      <tr>
        <td class="rowhdr">Inspection</td>
        <td class="colm text-center"><span permission permission-only="'InspectionRead'"><i class="fa fa-check"></i></span></td>
        <td class="colm text-center"><span permission permission-only="'InspectionReadX'"><i class="fa fa-check"></i></span></td>
        <td class="colm text-center"><span permission permission-only="'InspectionWrite'"><i class="fa fa-check"></i></span></td>
        <td class="colm text-center"><span permission permission-only="'InspectionWriteX'"><i class="fa fa-check"></i></span></td>
        <td class="colm text-center"><span permission permission-only="'InspectionOps'"><i class="fa fa-check"></i></span></td>
        <td class="colm text-center"><span permission permission-only="'InspectionAdmin'"><i class="fa fa-check"></i></span></td>
      </tr>

      <tr>
        <td class="rowhdr">IST</td>
        <td class="colm text-center"><span permission permission-only="'ISTRead'"><i class="fa fa-check"></i></span></td>
        <td class="colm text-center"><span permission permission-only="'ISTReadX'"><i class="fa fa-check"></i></span></td>
        <td class="colm text-center"><span permission permission-only="'ISTWrite'"><i class="fa fa-check"></i></span></td>
        <td class="colm text-center"><span permission permission-only="'ISTWriteX'"><i class="fa fa-check"></i></span></td>
        <td class="colm text-center"><span permission permission-only="'ISTOps'"><i class="fa fa-check"></i></span></td>
        <td class="colm text-center"><span permission permission-only="'ISTAdmin'"><i class="fa fa-check"></i></span></td>
      </tr>

      <tr>
        <td class="rowhdr">PA</td>
        <td class="colm text-center"><span permission permission-only="'PARead'"><i class="fa fa-check"></i></span></td>
        <td class="colm text-center"><span permission permission-only="'PAReadX'"><i class="fa fa-check"></i></span></td>
        <td class="colm text-center"><span permission permission-only="'PAWrite'"><i class="fa fa-check"></i></span></td>
        <td class="colm text-center"><span permission permission-only="'PAWriteX'"><i class="fa fa-check"></i></span></td>
        <td class="colm text-center"><span permission permission-only="'PAOps'"><i class="fa fa-check"></i></span></td>
        <td class="colm text-center"><span permission permission-only="'PAAdmin'"><i class="fa fa-check"></i></span></td>
      </tr>

      <tr>
        <td class="rowhdr">School</td>
        <td class="colm text-center"><span permission permission-only="'SchoolRead'"><i class="fa fa-check"></i></span></td>
        <td class="colm text-center"><span permission permission-only="'SchoolReadX'"><i class="fa fa-check"></i></span></td>
        <td class="colm text-center"><span permission permission-only="'SchoolWrite'"><i class="fa fa-check"></i></span></td>
        <td class="colm text-center"><span permission permission-only="'SchoolWriteX'"><i class="fa fa-check"></i></span></td>
        <td class="colm text-center"><span permission permission-only="'SchoolOps'"><i class="fa fa-check"></i></span></td>
        <td class="colm text-center"><span permission permission-only="'SchoolAdmin'"><i class="fa fa-check"></i></span></td>
      </tr>

      <tr>
        <td class="rowhdr">Survey</td>
        <td class="colm text-center"><span permission permission-only="'SurveyRead'"><i class="fa fa-check"></i></span></td>
        <td class="colm text-center"><span permission permission-only="'SurveyReadX'"><i class="fa fa-check"></i></span></td>
        <td class="colm text-center"><span permission permission-only="'SurveyWrite'"><i class="fa fa-check"></i></span></td>
        <td class="colm text-center"><span permission permission-only="'SurveyWriteX'"><i class="fa fa-check"></i></span></td>
        <td class="colm text-center"><span permission permission-only="'SurveyOps'"><i class="fa fa-check"></i></span></td>
        <td class="colm text-center"><span permission permission-only="'SurveyAdmin'"><i class="fa fa-check"></i></span></td>
      </tr>

      <tr>
        <td class="rowhdr">Teacher</td>
        <td class="colm text-center"><span permission permission-only="'TeacherRead'"><i class="fa fa-check"></i></span></td>
        <td class="colm text-center"><span permission permission-only="'TeacherReadX'"><i class="fa fa-check"></i></span></td>
        <td class="colm text-center"><span permission permission-only="'TeacherWrite'"><i class="fa fa-check"></i></span></td>
        <td class="colm text-center"><span permission permission-only="'TeacherWriteX'"><i class="fa fa-check"></i></span></td>
        <td class="colm text-center"><span permission permission-only="'TeacherOps'"><i class="fa fa-check"></i></span></td>
        <td class="colm text-center"><span permission permission-only="'TeacherAdmin'"><i class="fa fa-check"></i></span></td>
      </tr>
    </tbody>
  </table>

</panel>