﻿@* Survey template (miemis) *@
<div>
  <div class="alert alert-warning alert-smaller" role="alert" typeof="warning">
    <ul>
      <li><strong>Editing:</strong> Survey of Year {{vm.schoolSurvey.year}}</li>
      <li><strong>Note:</strong> This survey data is the same as collected from the PDF eSurvey and/or the main workbook data collection tool. It cna be edited here but if the workbook is re-uploaded data will be again re-written.</li>
      <li><strong>Note:</strong> Totals don't always align. This is a caveat of RMI with their "Pre-9" grade. It does not affect global indicators but online eSurvey form needs fine tuning.</li>
    </ul>
  </div>

  <pupil-table-panel school-no="{{vm.schoolSurvey.schoolNo}}" year="{{vm.schoolSurvey.year}}" table-name="ENROL"></pupil-table-panel>
  <pupil-table-panel school-no="{{vm.schoolSurvey.schoolNo}}" year="{{vm.schoolSurvey.year}}" table-name="REP"></pupil-table-panel>
  <pupil-table-panel school-no="{{vm.schoolSurvey.schoolNo}}" year="{{vm.schoolSurvey.year}}" table-name="DIS"></pupil-table-panel>
  <pupil-table-panel school-no="{{vm.schoolSurvey.schoolNo}}" year="{{vm.schoolSurvey.year}}" table-name="TRIN"></pupil-table-panel>
  <pupil-table-panel school-no="{{vm.schoolSurvey.schoolNo}}" year="{{vm.schoolSurvey.year}}" table-name="TROUT"></pupil-table-panel>
  <resource-list-panel school-no="{{vm.schoolSurvey.schoolNo}}" year="{{vm.schoolSurvey.year}}" category="Communications"></resource-list-panel>
  <resource-list-panel school-no="{{vm.schoolSurvey.schoolNo}}" year="{{vm.schoolSurvey.year}}" category="Power Supply"></resource-list-panel>
  <resource-list-panel school-no="{{vm.schoolSurvey.schoolNo}}" year="{{vm.schoolSurvey.year}}" category="Library Resources"></resource-list-panel>
</div>