﻿@* teacher qualification List
*@
<table class="schoolsurveys table table-condensed table-striped table-hover">
  <thead>
    <tr>
      <th class="colhdr">Year</th>
      <th class="colhdr gray-left-border">Pre</th>
      <th class="colhdr gray-left-border">Complete</th>
      <th class="colhdr gray-left-border">Qualification</th>
      <th class="colhdr gray-left-border">Institution</th>
      <th class="colhdr gray-left-border">Duration</th>
      <th class="colhdr gray-left-border">Duration Unit</th>
      <th class="colhdr gray-left-border">Major</th>
      <th class="colhdr gray-left-border">Minor</th>
      <th class="colhdr gray-left-border">Progress</th>
      <th class="colhdr gray-left-border">Progress %</th>
      <th class="colhdr gray-left-border">Comment</th>
    </tr>
  </thead>
  <tbody>
    <tr data-ng-repeat="q in vm.model.Qualifications">
      <td>{{q.trYear}}</td>
      <td>{{q.trPre}}</td>
      <td>{{q.trComplete}}</td>
      <td>{{q.trQual}}</td>
      <td>{{q.trInstitution}}</td>
      <td>{{q.trDuration}}</td>
      <td>{{q.trDurationUnit}}</td>
      <td>{{q.trMajor}}</td>
      <td>{{q.trMinor}}</td>
      <td>{{q.trProgress}}</td>
      <td>{{q.trProgressPerc}}</td>
      <td>{{q.trComment}}</td>
    </tr>
  </tbody>
</table>