﻿<h4>Filter Dataset <i class="fa fa-question-circle"><md-tooltip md-direction="top">Only display data of interest</md-tooltip></i></h4>

<md-input-container class="md-block" flex-gt-sm>
  <label>Family Name</label>
  <input ng-model="vm.params.Surname" type="text" />
</md-input-container>

<md-input-container class="md-block" flex-gt-sm>
  <label>Payroll</label>
  <input ng-model="vm.params.PayrollNo" type="text" />
</md-input-container>

<md-input-container class="md-block" flex-gt-sm>
  <label>At School</label>
  <lookup-selector id="srchAtSchool"
                   lkp="schoolNames"
                   ng-model="vm.params.AtSchool"
                   ng-disabled="vm.findConfig.isLocked('AtSchool')">
  </lookup-selector>
</md-input-container>

<md-input-container class="md-block" flex-gt-sm>
  <label>In Year</label>
  <input ng-model="vm.params.InYear" type="text" />
</md-input-container>

<section layout="row" layout-align="center center">
  <md-button class="md-raised" id="Reset" ng-click="vm.Reset()"><i class="fa fa-close"></i> Clear</md-button>
  <md-button class="md-raised md-primary" id="findNow" ng-click="vm.FindNow()"><i class="fa fa-filter"></i> Filter</md-button>
</section>