﻿<div>
  <form name="inputForm">
      <select ng-class="'colt' + col.uid"
              class="grid-input"
              ui-grid-edit-dropdown
              ng-model="MODEL_COL_FIELD"
              ng-options="field[editDropdownIdLabel] as field[editDropdownValueLabel] CUSTOM_FILTERS for field in editDropdownOptionsArray"></select>
      <md-tooltip ng-if="col.colDef.description">{{col.colDef.description}}</md-tooltip>
  </form>
</div>
