﻿@section title {
  SURVIVAL RATE BY GRADE (SR)
}

@section icon {
  <i class="fa fa-info"></i>&nbsp;
}

@section tools {
}
@section actions {
  <md-button href="http://uis.unesco.org/sites/default/files/documents/education-indicators-technical-guidelines-en_0.pdf" target="_blank" md-autofocus>
    Cited Source: UNESCO Education Indicators Technical Guidelines
  </md-button>
}

<md-tabs md-dynamic-height md-border-bottom>
  <md-tab label="General">
    <md-content class="md-padding">
      <h2>Key Indicator</h2>
      <p>Survival Rate by Grade (SR)</p>
      <h2>Definition</h2>
      <p>
        Percentage of a cohort of pupils (or students) enrolled in the
        first grade of a given level or cycle of education in a given school
        year who are expected to reach successive grades.
      </p>
      <h2>Purpose</h2>
      <p>
        To measure the retention capacity and internal efficiency of an education system. It illustrates the situation
        regarding retention of pupils (or students) from grade to grade in schools, and conversely the magnitude of dropout
        by grade.
      </p>
    </md-content>
  </md-tab>
  <md-tab label="Calculation">
    <md-content class="md-padding">
      <h2>Calculation method</h2>
      <p>
        Divide the total number of pupils belonging to a school-cohort who reached each successive
        grade of the specified level of education by the number of pupils in the school-cohort i.e. those originally enrolled in
        the first grade of primary education, and multiply the result by 100. The survival rate is calculated on the basis of the
        reconstructed cohort method, which uses data on enrolment and repeaters for two consecutive years.
      </p>
    </md-content>
  </md-tab>
  <md-tab label="Data">
    <md-content class="md-padding">
      <h2>Data Required</h2>
      <p>
        Enrolment by grade for two consecutive years (years t and t+1); number of repeaters by grade for
        year t+1.
      </p>
      <h2>Data Source</h2>
      <p>
        School register, school survey or census. In Marshall Island a
        bi-annually school census is used with some urban schools
        starting to adopt a Student Information System. The indicators
        are currently all calculated based on a consistent data
        collection tool (i.e. the school census)
      </p>
      <h2>Type of Disaggregation</h2>
      <p>
        By gender, geographical location (region, urban/rural) and by
        type of institution (private/public). Survival rates can also be
        disaggregated with or without grade repetition.  The disaggregation
        supported are by gender, type of schools and by geographical location
        (i.e. Atolls and Islands of Marshall Islands).  However, currently
        only the nation cohort is supported since population projection by
        Atolls and Islands is not yet available and the disgreggation by
        school type feature is not yet exposed..
      </p>
      <h2>Quality standards</h2>
      <p>
        Since the calculation of this indicator is based on pupil-flow
        rates, the reliability of the Survival Rate depends on the consistency
        of data on enrolment and repeaters in term of coverage over time and
        across grades. In the Marhsall Islands, this quality and improved
        consistency of data collection started in SY2016-2017.
      </p>
    </md-content>
  </md-tab>
  <md-tab label="Meaning">
    <md-content class="md-padding">
      <h2>Interpretation</h2>
      <p>
        Rates approaching 100% indicate a high level of retention and
        low incidence of dropout. The distinction between survival rate with
        and without repetition is necessary to compare the extent of wastage
        due to dropout and repetition. Survival rate to the last grade of
        primary education is of particular interest for monitoring universal
        primary education, a central objective for Education for All and the
        Millennium Development Goals.
      </p>
      <h2>Limitations</h2>
      <p>
        Given that this indicator is usually estimated using cohort
        analysis models that are based on a number of assumptions (i.e. the
        observed flow rates will remain unchanged throughout the cohort life),
        care should be taken in using of the results in comparisons. Care
        should also be taken in calculating the indicator at sub-national
        level because of possible pupils’ transfers between localities.
      </p>
    </md-content>
  </md-tab>
</md-tabs>
