﻿@* Refer to Master/MaterialDialogLayout.cshtml *@

@section icon {
  <i class="fa fa-exclamation-circle"></i>
}

@section title {
  <h3 class="modal-title">{{vm.title}}</h3>
  <div>{{vm.prompt}}</div>
}

@section tools {
}

<table class="table table-hover">
  <tr ng-repeat="code in vm.codeset" ng-class="{'active': vm.selected === code}">
    <td>
      <a href="" ng-click="vm.select(code)">{{code.C}}: {{ code.N}}</a>
    </td>
  </tr>
</table>

@section actions {
  <md-button class="md-raised md-primary" type="button" ng-click="vm.ok()">Select</md-button>
  <md-button class="md-raised" type="button" ng-click="vm.cancel()">Cancel</md-button>
}