﻿@section icon {
  fa fa-institution
}

@section title {
  {{vm.isNew? 'New Teacher': 'Teacher ' + vm.model.tID + ': ' + vm.model.tFullName }}
}

<div class="appform">

  <md-tabs md-selected="vm.activeTab" md-dynamic-height md-border-bottom>

    @* ignore dashboard for now *@
    @*<md-tab label="Dashboard" ng-disable="vm.isNew">
        <div class="row">
          <div class="col-md-12">
            <div class="alert alert-info" role="alert" typeof="info"><strong>Notice:</strong> How things work here will depend how your teachers data is managed. The common two supported ways of managing data will be through the EMIS itself and through an external system like a Human Resources Management System. For example, in Marshall Islands we manage all teachers in the Abila MIP HR System and do a one way sync of the data from there into the EMIS for further processing and analysis.</div>
          </div>
        </div>
      </uib-tab>*@

    <md-tab label="Teacher Info">
      <div layout="column" class="md-inline-form">
        <md-content layout-padding>
          <div>
            <form name="vm.modelForm" ng-submit="vm.save()">
              @*novalidate class="form-custom-validation"*@

              <div layout-gt-xs="row">
                <h3>General Information</h3>
              </div>

              <div layout-gt-sm="row">
                @* display image of teacher with upload field tImage *@
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Teacher ID</label>
                  <input type="text" ng-model="vm.model.tID" ng-disabled="!vm.isNew" required />
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                  <label>Given Name</label>
                  <input type="text" ng-model="vm.model.tGiven" ng-disabled="!vm.isEditing" required />
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                  <label>Middle Names</label>
                  <input type="text" ng-model="vm.model.tMiddleNames" ng-disabled="!vm.isEditing" />
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                  <label>Surname</label>
                  <input type="text" ng-model="vm.model.tSurname" ng-disabled="!vm.isEditing" required />
                </md-input-container>
              </div>

              <div layout-gt-xs="row">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Name Prefix</label>
                  <input type="text" ng-model="vm.model.tNamePrefix" ng-disabled="!vm.isEditing" />
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                  <label>Name Suffix</label>
                  <input type="text" ng-model="vm.model.tNameSuffix" ng-disabled="!vm.isEditing" />
                </md-input-container>
              </div>

              <div layout-gt-xs="row">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Gender</label>
                  <lookup-selector lkp="gender" ng-model="vm.model.tSex" ng-disabled="!vm.isEditing" />
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                  <label>Major Language</label>
                  <lookup-selector lkp="languages" ng-model="vm.model.tLangMajor" ng-disabled="!vm.isEditing" />
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                  <label>Minor Language</label>
                  <lookup-selector lkp="languages" ng-model="vm.model.tLangMinor" ng-disabled="!vm.isEditing" />
                </md-input-container>
              </div>

              <div layout-gt-xs="row">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Date of Birth</label>
                  <md-datepicker ng-model="vm.model.tDOB" ng-disabled="!vm.isEditing"></md-datepicker>
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                  <md-checkbox ng-model="vm.model.tDOBEst" ng-disabled="!vm.isEditing">Date of Birth Estimated</md-checkbox>
                </md-input-container>
              </div>

              <div layout-gt-xs="row">
                <h3>Registration</h3>
              </div>

              <div layout-gt-xs="row">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Date Registered</label>
                  <md-datepicker ng-model="vm.model.tDateRegister" ng-disabled="!vm.isEditing"></md-datepicker>
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                  <label>Date Registered End</label>
                  <md-datepicker ng-model="vm.model.tDateRegisterEnd" ng-disabled="!vm.isEditing"></md-datepicker>
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                  <label>Register End Reason</label>
                  <input type="text" ng-model="vm.model.tRegisterEndReason" ng-disabled="!vm.isEditing" />
                </md-input-container>
              </div>

              <div layout-gt-xs="row">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Date PS Appointed</label>
                  <md-datepicker ng-model="vm.model.tDatePSAppointed" ng-disabled="!vm.isEditing"></md-datepicker>
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                  <label>Date PS Closed</label>
                  <md-datepicker ng-model="vm.model.tDatePSClosed" ng-disabled="!vm.isEditing"></md-datepicker>
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                  <label>Close Reason</label>
                  <input type="text" ng-model="vm.model.tCloseReason" ng-disabled="!vm.isEditing" />
                </md-input-container>
              </div>

              <div layout-gt-xs="row">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Year Finished</label>
                  <input type="text" ng-model="vm.model.tYearFinished" ng-disabled="!vm.isEditing" />
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                  <label>Year Started</label>
                  <input type="text" ng-model="vm.model.tYearStarted" ng-disabled="!vm.isEditing" />
                </md-input-container>
              </div>              

              <div layout-gt-xs="row">
                <h3>Miscellanenous</h3>
              </div>

              <div layout-gt-xs="row">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Comment</label>
                  <input type="text" ng-model="vm.model.tComment" ng-disabled="!vm.isEditing" />
                </md-input-container>
              </div>

              <div layout-gt-xs="row">
                <div class="alert alert-info alert-smaller" role="alert" typeof="info"><strong>Last Saved:</strong> {{vm.model.pEditUser}} {{vm.model.pEditDateTime | date:"dd MMM yyyy h:mm a"}}</div>
              </div>

            </form>
          </div>
        </md-content>
      </div>
    </md-tab>

    <md-tab label="Appointments" ng-disable="vm.isNew">
      <table class="books table table-condensed table-striped table-hover">
        <thead>
          <tr>
            <th class="colhdr">Date</th>
            <th class="colhdr gray-left-border">Type</th>
            <th class="colhdr gray-left-border">{{"School No" | vocab }}</th>
            <th class="colhdr gray-left-border">Role</th>
            <th class="colhdr gray-left-border">Code</th>
            <th class="colhdr gray-left-border">Salary</th>
            <th class="colhdr gray-left-border">estrID</th>
            <th class="colhdr gray-left-border">estpNo</th>
            <th class="colhdr gray-left-border">End Date</th>
            <th class="colhdr gray-left-border">Flag</th>
            <th class="colhdr gray-left-border">Note</th>
            @*<th class="colhdr gray-left-border">Has Note</th>*@
            <th class="colhdr gray-left-border">Role Grade</th>
          </tr>
        </thead>
        <tbody>
          <tr data-ng-repeat="a in vm.model.Appointments">
            <td>{{a.taDate}}</td>
            <td>{{a.taType}}</td>
            <td>{{a.SchNo}}</td>
            <td>{{a.taRole}}</td>
            <td>{{a.spCode}}</td>
            <td>{{a.taSalary}}</td>
            <td>{{a.estrID}}</td>
            <td>{{a.estpNo}}</td>
            <td>{{a.taEndDate}}</td>
            <td>{{a.taFlag}}</td>
            <td>{{a.taNote}}</td>
            @*<td>{{a.taHasNote}}</td>*@
            <td>{{a.taRoleGrade}}</td>
          </tr>
        </tbody>
      </table>
    </md-tab>

    <md-tab label="Qualifications" ng-disable="vm.isNew">
      <table class="schoolsurveys table table-condensed table-striped table-hover">
        <thead>
          <tr>
            <th class="colhdr">Year</th>
            <th class="colhdr gray-left-border">Pre</th>
            <th class="colhdr gray-left-border">Complete</th>
            <th class="colhdr gray-left-border">Qualification</th>
            <th class="colhdr gray-left-border">Institution</th>
            <th class="colhdr gray-left-border">Duration</th>
            <th class="colhdr gray-left-border">Duration Unit</th>
            <th class="colhdr gray-left-border">Major</th>
            <th class="colhdr gray-left-border">Minor</th>
            <th class="colhdr gray-left-border">Progress</th>
            <th class="colhdr gray-left-border">Progress %</th>
            <th class="colhdr gray-left-border">Comment</th>
          </tr>
        </thead>
        <tbody>
          <tr data-ng-repeat="q in vm.model.Qualifications">
            <td>{{q.trYear}}</td>
            <td>{{q.trPre}}</td>
            <td>{{q.trComplete}}</td>
            <td>{{q.trQual}}</td>
            <td>{{q.trInstitution}}</td>
            <td>{{q.trDuration}}</td>
            <td>{{q.trDurationUnit}}</td>
            <td>{{q.trMajor}}</td>
            <td>{{q.trMinor}}</td>
            <td>{{q.trProgress}}</td>
            <td>{{q.trProgressPerc}}</td>
            <td>{{q.trComment}}</td>
          </tr>
        </tbody>
      </table>
    </md-tab>

    <md-tab label="Documents">
      <component-teacher-links links="vm.model.Documents" teacher="vm.model"></component-teacher-links>
    </md-tab>

    @*list of reports served from Jasper report server*@
    <md-tab label="Reports">
      <report-list folder="Teachers/Teacher" context="{TeacherID: vm.model.tID}" set-params="vm.setReportParams(report, context,instanceInfo)"></report-list>
    </md-tab>

  </md-tabs>

  <img src="assets/img/wait.gif" style="position:absolute; top:50%;left:50%; margin-right:-50%; transform:translate(-50%,-50%)" ng-show="vm.isWaiting" />
</div>
