﻿@section title {
  GROSS INTAKE RATIO (GIR) IN THE FIRST GRADE OF PRIMARY
}

@section icon {
  <i class="fa fa-info"></i>&nbsp;
}

@section tools {
}
@section actions {
  <md-button href="http://uis.unesco.org/sites/default/files/documents/education-indicators-technical-guidelines-en_0.pdf" target="_blank" md-autofocus>
    Cited Source: UNESCO Education Indicators Technical Guidelines
  </md-button>
}

<md-tabs md-dynamic-height md-border-bottom>
  <md-tab label="General">
    <md-content class="md-padding">
      <h2>Key Indicator</h2>
      <p>Gross Intake Ratio (GIR) in the first grade of an education level (e.g. primary)</p>
      <h2>Definition</h2>
      <p>
        Total number of new entrants in the first grade of primary education, regardless of age, expressed as a
        percentage of the population at the official primary school-entrance age.
      </p>
      <h2>Purpose</h2>
      <p>
        To indicate the general level of access to primary education. It also indicates the capacity of the education
        system to provide access to grade 1 for the official school-entrance age population.
      </p>
    </md-content>
  </md-tab>
  <md-tab label="Calculation">
    <md-content class="md-padding">
      <h2>Calculation method</h2>
      <p>
        Divide the number of new entrants in first grade of an education level (e.g. grade 1 for primary education level), irrespective of age,
        by the population of official school-entrance age, and multiply the result by 100.
      </p>
    </md-content>
  </md-tab>
  <md-tab label="Data">
    <md-content class="md-padding">
      <h2>Data Required</h2>
      <p>
        New entrants in the first grade of primary education (or enrolment minus repeaters in the first grade);
        population of the official primary school-entrance age.
      </p>
      <h2>Data Source</h2>
      <p>
        School register, school survey or census for data on new entrants by age. Population census or
        estimates for primary school-entrance age population. A bi-annually
        school census is used by all schools and in some cases some urban schools starting to
        adopt a Student Information System also The indicators
        are currently all calculated based on a consistent data collection
        tool (i.e. the school census). The indicators are currently all calculated based on a consistent data
        collection tool (i.e. the school census)
      </p>
      <h2>Type of Disaggregation</h2>
      <p>
        The disaggregation supported are by gender and by geographical location (i.e. Atolls and Islands of Marshall Islands).
        However, currently only the nation cohort is supported since population projection by Atolls and Islands is not yet available.
      </p>
      <h2>Quality standards</h2>
      <p>
        Data on population used in deriving this indicator should refer strictly to the official schoolentrance
        age. Care should be taken not to include repeaters in grade 1 in the calculation, since this will lead to an
        inflated GIR.
      </p>
    </md-content>
  </md-tab>
  <md-tab label="Meaning">
    <md-content class="md-padding">
      <h2>Interpretation</h2>
      <p>
        A high GIR indicates a high degree of access to primary education. As this calculation includes all
        new entrants to first grade (regardless of age), the ratio can exceed 100%, due to over-aged and under-aged children
        entering primary school for the first time.
      </p>
      <h2>Limitations</h2>
      <p>
        A high GIR may be the effect of a backlog of over-aged children who have not entered school when
        they were at the official primary school-entrance age.
      </p>
    </md-content>
  </md-tab>
</md-tabs>